@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  border-bottom: solid thin;
  background-color: silver;
}

#logo {
  margin-bottom: 10px;
  margin-top: 10px;
  // float: left;
  text-transform: uppercase;
}

.nav_item {
  display: inline-block;
}

.footer {
    border-top: solid thin;
    margin-top: 30px;
    // background-color: silver;
}